nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
   padding-block: 20px;

}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
    padding-block: 8px;
        
}

/*last-child é uma sudoclass que significa o ultimo filho*/
nav ul li:last-child img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

